.main__title {
    margin-bottom: 20px;
}

.main__button {
    margin-bottom: 20px;
}

.main__block {
    margin-bottom: 15px;
}

.main__input {
    width: 100%;
}

.main__label {
    margin-bottom: 30px;
}