*{
    padding: 0;
    margin:0;
    outline: none;
}

a:focus, .button:focus, .button.alt:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus {
    outline: none;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: sans-serif;
    font-weight: normal;
    color: #000;
    font-size: 18px;
    background-color: #fff;
}

.btn {
    padding: 5px 15px;
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
}